<br />
<br />
<div class="container">
  <h1>
    <small>
      <strong class="text-secondary">{{ habitacion.noHabitacion }}</strong></small
    >
    {{ habitacion.habitacion }}
    <!-- <small>({{ images.length }})</small> -->
  </h1>

  <hr class="my-2" />
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-10 col-sm-12">
      <app-card>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="tarifa">Tarifa web</label>
              <app-p-input
                [_type]="'moneda'"
                [text]="habitacion.tarifa || 'Ingresa la tarifa web'"
                (modificar)="guardarTarifa($event)"
              ></app-p-input>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="tarifa">Capacidad (Personas)</label>
              <app-p-input
                [_type]="'number'"
                [text]="habitacion.capacidad || 'Ingresa la capacidad de la habitación'"
                (modificar)="guardarCapacidad($event)"
              ></app-p-input>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="tipoHabitacion">Tipo de habitación</label>
              <app-p-select
                [_inputName]="'tipoHabitacion'"
                [catalog]="tiposHabitacionFormat"
                [value]="habitacion.idTipoHabitacion"
                [text]="habitacion.tipoHabitacion || 'Ingresa el tipo de habitación'"
                (modificar)="guardarTipoHabtiacion($event)"
              ></app-p-select>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <app-p-text-area
                [text]="habitacion.descripcion || 'Ingresa una descripción de la habitación'"
                (modificar)="guardarDescripcion($event)"
              ></app-p-text-area>
            </div>
          </div>
        </div>
      </app-card>
      <div class="row mt-4 mb-2">
        <div class="col-sm-12">
          <h2>Especificaciones</h2>
        </div>
      </div>
      <app-especificacion-list
        [_especificaciones]="habitacion.especificaciones"
        (_agregar)="showEspecificacionModal($event)"
        (_addEspecificacion)="addEspecificacion($event)"
        (_deleteEspecificacion)="deleteEspecificacion($event)"
      ></app-especificacion-list>
      <div class="row mt-4 mb-2">
        <div class="col-sm-4">
          <h2>Fotos</h2>
        </div>
        <div class="col-sm-8">
          <button
            type="button"
            class="btn btn-primary add pull-right"
            [disabled]="isChoosing"
            (click)="isChoosing = true"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            Foto
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p *ngIf="!loadingList && habitacionImages.length == 0 && !isChoosing" class="text-muted text-center">
            No existen fotos para esta habitacion
          </p>
          <app-image-selector
            *ngIf="isChoosing"
            [_images]="images"
            (_cancel)="isChoosing = false"
            (_select)="addImage($event)"
          ></app-image-selector>
          <div *ngIf="!isChoosing" class="mansory">
            <div class="item" *ngFor="let image of habitacionImages">
              <img [src]="'/files/gallery/' + image.archivo" />
              <div class="toolbar">
                <div>
                  <Button
                    (click)="feature(image.idFoto)"
                    [class]="'btn btn-outline-' + (image.featured ? 'success' : 'primary') + ' rounded-circle mx-1'"
                  >
                    <i class="fas fa-star"></i>
                  </Button>
                  <Button
                    class="btn btn-outline-danger rounded-circle mx-1"
                    (click)="deleteAttemp(image.idFoto)"
                    data-toggle="modal"
                    data-target="#confirmaModal"
                  >
                    <i class="fas fa-trash"></i>
                  </Button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-12" id="sidebar">
      <div class="card mt-2">
        <div class="card-body">
          <h4 class="card-title">Ayuda</h4>
          <p class="card-text">
            Asigna fotos a tus habitaciones y cuenta más acerca de ellas, para que tus pasajeros no se pierdan ningún
            detalle.
          </p>
        </div>
      </div>

      <div class="mt-2">
        <app-card-notificaciones></app-card-notificaciones>
      </div>
    </div>
  </div>
</div>

<app-especificacion-select-modal
  [_loading]="loadingAddEspecificacion"
  [_especificaciones]="especificaciones"
  (_addEspecificacion)="addEspecificacion($event)"
></app-especificacion-select-modal>

<app-modal-confirmacion
  [mensaje]="mensajeConfirmacion"
  (confirmar)="delete()"
  (cancelar)="onCancelar()"
></app-modal-confirmacion>
