
<section class="bienvenidos">
	<div class="container">	
		<div class="texto-bienvenido text-center">
			<p class="h5">Bienvenidos a nuestro estudio</p>
			<h1 class="display-4 mb-5">Encantados de conocerte</h1>
			<a href="#" class="btn btn-primary btn-lg">Ponte en contacto</a>
		</div>
	</div>
</section>

<section class="quienes-somos py-3 text-center">
	<div class="containter">
		<img src="/assets/images//nosotros.svg" width="181" alt="nosotros" class="img-fluid mx-auto mb-3">
		<h2 class="h3">¿QUIENES SOMOS?</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, nobis vero! Facere cumque modi libero ullam, consequuntur soluta explicabo fugiat laudantium natus excepturi nihil sequi vitae, suscipit sint cum, enim!</p>
		<a href="#" class="btn btn-secundary btn-lg">Mas información</a>
	</div>
</section>