<p *ngIf="!esModificar" class="text-muted">
  <a (click)="desbloquea()">
    {{ text }}
    <i class="fa fa-caret-down text-primary" aria-hidden="true"></i>
  </a>
</p>
<div *ngIf="esModificar" class="row mx-auto">
  <textarea name="_inputName" class="form-control col-9" rows="3" [(ngModel)]="text" maxlength="600">{{
    text
  }}</textarea>
  <button type="button" class="btn btn-link text-primary px-0 col-1 mb-auto" (click)="_modificar()">
    <i class="fa fa-check" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-link text-danger px-0 col-1 mb-auto" (click)="cancelar()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
