<section>
  <footer class="mt-5">
    <div class="container-fluid bg-faded mt-5">
      <div class="container">
        <div class="row py-3">
          <!-- footer column 1 start -->
          <div class="col-md-4 col-sm-12">
            <!-- row start -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-negro" href="javascript:;">
                  <i class="fa fa-2x fa-fw fa-map-marker" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4>Galápagos - Ecuador</h4>
                <p>San Cristobal Av. 12 de febrero</p>
              </div>
            </div>
            <!-- row end -->
          </div>
          <!-- footer column 1 end -->
          <!-- footer column 2 start -->
          <div class="col-md-4 col-sm-12">
            <!-- row start -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-negro" href="javascript:;">
                  <i class="fa fa-2x fa-fw fa-phone" aria-hidden="true "></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4></h4>
                <h5>+593 990901765</h5>                
              </div>
            </div>
            <!-- row end -->
            <!-- row start -->
            <!-- <div class="row py-2">
				            <div class="col-sm-3 hidden-md-down">
				              <a class="bg-circle bg-info" href="#">
				                <i class="fa fa-2x fa-fw fa-laptop" aria-hidden="true"></i>
				              </a>
				            </div>
				            <div class="col-sm-9">
				              <h4>Cookie policy</h4>
				              <p class=" ">We use <a class=" " href="/#">cookies </a></p>
				            </div>
				          </div> -->
            <!-- row end -->
          </div>
          <!-- footer column 2 end -->
          <!-- footer column 3 start -->
          <div class="col-md-4 col-sm-12">
            <!-- row starting  -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-negro" href="javascript:; ">
                  <i class="fa fa-2x fa-fw fa-envelope" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4></h4>
                <h5>thianlopezz@chaskiy.com</h5>
              </div>
            </div>
            <!-- row ended -->
            <!-- row starting  -->
            <!-- <div class="row py-2">
				            <div class="col-sm-3 hidden-md-down">
				              <a class="bg-circle bg-info" href="https://twitter.com/ ">
				                <i class="fa fa-2x fa-fw fa-info" aria-hidden="true "></i>
				              </a>
				            </div>
				            <div class="col-sm-9">
				              <h4>Info</h4>
				              About us.
				            </div>
				          </div> -->
            <!-- row ended -->
          </div>
          <!-- footer column 3 end -->
        </div>
      </div>
    </div>
    <div class="container-fluid bg-primary">
      <div class="container">
        <div class="row py-3">
          <div class="col-md-9">
            <p class="text-white">Chaskiy© 2018 Todos los derechos reservados</p>
          </div>
          <div class="col-md-3">
            <div class="d-inline-block">
              <div class="bg-circle-outline d-inline-block">
                <a target="_blank" href="https://www.facebook.com/thianlopezz" class="text-white">
                  <i class="fa fa-2x fa-fw fa-facebook"></i>
                </a>
              </div>
              <div class="bg-circle-outline d-inline-block">
                <a target="_blank" href="https://twitter.com/thianlopezz" class="text-white">
                  <i class="fa fa-2x fa-fw fa-twitter"></i>
                </a>
              </div>
              <div class="bg-circle-outline d-inline-block">
                <a target="_blank" href="https://www.linkedin.com/in/thianlopezz/" class="text-white">
                  <i class="fa fa-2x fa-fw fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>