<section>
  <div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top border-secondary">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
          <small class="d-block mb-3 text-muted">© Chaskiy 2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Características principales</h5>
          <ul class="list-unstyled text-small">
            <!-- <li><a class="text-muted" href="#">Cool stuff</a></li> -->
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Compañía</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Contacto</a></li>
            <li><a class="text-muted" href="#">Acerca de nosotros</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Acerca</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" [routerLink]="['/terminos']">Términos y condiciones</a></li>
            <li><a class="text-muted" [routerLink]="['/privacidad']">Políticas de privacidad</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</section>