<p *ngIf="!esModificar" class="text-muted">
  <a (click)="desbloquea()">
    {{ text }}
    <i class="fa fa-caret-down text-primary" aria-hidden="true"></i>
  </a>
</p>
<div *ngIf="esModificar" class="row mx-auto">
  <input *ngIf="!_type" name="_inputName" type="text" class="form-control col-9" [(ngModel)]="text" />
  <!-- TIPO MONEDA -->
  <input *ngIf="_type == 'number'" name="_inputName" type="number" class="form-control col-9" [(ngModel)]="text" />
  <!-- TIPO MONEDA -->
  <input *ngIf="_type == 'moneda'" type="text" class="form-control col-9" [(ngModel)]="text" appMoneda="true" />
  <button type="button" class="btn btn-link text-primary px-0 col-1" (click)="_modificar()">
    <i class="fa fa-check" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-link text-danger px-0 col-1" (click)="cancelar()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
