<p *ngIf="!esModificar" class="text-muted">
  <a (click)="desbloquea()">
    {{ text }}
    <i class="fa fa-caret-down text-primary" aria-hidden="true"></i>
  </a>
</p>
<div *ngIf="esModificar" class="row mx-auto">
  <div class="col-9 m-0 p-0">
    <select [id]="_inputName" [name]="_inputName" class="form-control" style="width: 100%" multiple>
      <option *ngFor="let item of catalog" [value]="item.value">{{ item.text }}</option>
    </select>
  </div>
  <button type="button" class="btn btn-link text-primary px-0 col-1" (click)="_modificar()">
    <i class="fa fa-check" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-link text-danger px-0 col-1" (click)="cancelar()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
