<div class="container default-container">
	<div class="col-md-12">		
		<div class="card">
		  <div class="card-block">		  	
		    <h2>Adicionales</h2>
		  </div>
		</div>
	</div>	
	<div class="col-md-12">
		<div class="card">
		  <div class="card-block">		  	
		    <h2>Registros 
		    	<small>Adicionales</small>
		    	<!-- <a class="bg-circle bg-danger pull-right" (click)="setNuevo()" data-toggle="modal" data-target="#habitacionModal">
		    		<i class="fa fa-plus" aria-hidden="true"></i>
		    	</a> -->
			    <button type="button" class="btn btn-danger pull-right" (click)="setNuevo()" data-toggle="modal" data-target="#adicionalModal">
			      <i class="fa fa-plus" aria-hidden="true"></i>
			    </button>		    
		    </h2>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th>Adicional</th>
			      <th>Tarifa</th>
			      <th>Editar/Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let add of adds">
			      <td width="60%">{{add.adicional}}</td>
			      <td width="20%">{{add.tarifa | currency:'USD':true}}</td>
			      <td width="20%">
			      	<div class="btn-group grid-btn" role="group">
					  <button type="button" (click)="setModi(add)" class="btn btn-primary" data-toggle="modal" data-target="#adicionalModal">
					  	<i class="fa fa-pencil" aria-hidden="true"></i>
					  </button>
					  <button type="button" (click)="setElim(add)" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmModal">
					  	<i class="fa fa-trash" aria-hidden="true"></i>
					  </button>
					</div>
			      </td>
			    </tr>
			  </tbody>
			</table>
		  </div>
		</div>
	</div>
</div>
<!-- MODAL ADICIONAL -->
<div *ngIf="model" class="modal fade" id="adicionalModal">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicional</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  	
	    <form name="form" class="col-md-12" (ngSubmit)="f.form.valid && guardar(f)" #f="ngForm" novalidate>
	        <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !adicional.valid }">
	            <label for="adicional">Nombre</label>
	            <input type="text" class="form-control col-md-8" name="adicional" [(ngModel)]="model.adicional" #adicional="ngModel" required />
	            <div *ngIf="f.submitted && !adicional.valid" class="help-block">El nombre del servicio adicional es requerido</div>
	        </div>
	        <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !adicional.valid }">
	            <label for="tarifa">Tarifa</label>
	            <input type="text" class="form-control col-md-4" name="tarifa" [(ngModel)]="model.tarifa" #adicional="ngModel" myCurrency="true" required />
	            <div *ngIf="f.submitted && !adicional.valid" class="help-block">La tarifa es requerida</div>
	        </div>
	        <div class="modal-footer">	          
	          <button type="submit" class="btn btn-primary">Guardar
	          	<img *ngIf="loading" src="/assets/images/loading.svg" />
	          </button>
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	        </div> 
	    </form>
    </div>
  </div>
</div>