<app-modal
  [_idModal]="'subirModal'"
  [_title]="'Subir imagen'"
  [_idForm]="'formFoto'"
  [_loading]="_loading"
  (_submit)="guardar()"
>
  <div class="modal-body">
    <div class="mansory">
      <div class="item" *ngFor="let image of imagesPreview">
        <img [src]="image" />
      </div>
    </div>
    <img *ngIf="_model.imagePreview" [src]="_model.imagePreview" class="img-fluid" alt="preview" />
    <p class="text-center m-1">
      <a *ngIf="!_model.file" [routerLink]="" class="btn btn btn-primary btn-lg btn-block" (click)="openFileInput()"
        >Subir imagen <i class="fas fa-image"></i
      ></a>
      <a *ngIf="_model.file" [routerLink]="" class="btn btn-link" (click)="openFileInput()">{{ _model.file.name }}</a>
      <input
        hidden="true"
        id="file"
        name="file"
        type="file"
        (change)="handleFileChange($event)"
        accept="image/*"
        multiple
      />
    </p>
    <br />
    <form
      id="formFoto"
      name="formFoto"
      (ngSubmit)="guardar(f)"
      #f="ngForm"
      [ngClass]="{ 'was-validated': f.submitted }"
      novalidate
    >
      <!-- <div class="form-group">
        <label for="descripcion">Agrega una descripción</label>
        <input
          class="form-control"
          id="descripcion"
          name="name"
          [(ngModel)]="_model.descripcion"
          #descripcion="ngModel"
          placeholder="(Opcional)"
        />
      </div> -->
    </form>
  </div>
</app-modal>
<!-- onChange={onChange}
        accept={accept} -->
