<nav class="navbar navbar-expand-md bg-light">
  <a class="navbar-brand" href="#">Expand at md</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Solicita una prueba</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <a class="btn btn-outline-primary" href="#">Iniciar sesión</a>
    </form>
  </div>
</nav>