<app-header></app-header>
<div id="wrapper">
    <!-- Sidebar -->
    <div [hidden]="!isLogged()" id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <!-- <a href="#">
                    Start Bootstrap
                </a> -->
            </li>
            <li>
                <a [routerLink]="['/home']">Inicio</a>
            </li>
            <li>
                <a [routerLink]="['/reservas']">Reservas</a>
            </li>
            <li>
                <span style="color: white;">
                    <!-- <i class="fas fa-chart-area" aria-hidden="true"></i> -->
                    <!-- <i class="fas fa-chart-bar" aria-hidden="true"></i> -->
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                    Estadísticas
                </span>
            </li>
            <li>
                <a [routerLink]="['/pagos']">Pagos</a>
            </li>
            <li>
                <span style="color: white;">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    Mantenimientos
                </span>
            </li>
            <li>
                <a [routerLink]="['/habitacion']">Habitaciones</a>
            </li>
            <li>
                <a [routerLink]="['/tarifa']">Tarifas</a>
            </li>
            <li>
                <a [routerLink]="['/adicional']">Adicionales</a>
            </li>
            <li>
                <a [routerLink]="['/hospedaje']">Hospedaje</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <button [hidden]="!isLogged()" type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>
    <router-outlet></router-outlet>
    
    
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<app-footer></app-footer>
<app-modal-confirmacion></app-modal-confirmacion>
<app-modal-mensaje></app-modal-mensaje>