<section class="cuadro-img">
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-8">
				<div class="texto">
					<h1>Organiza ya tus reservas</h1>
					<p>Bienvenido a Chaskiy, tu sistema de reserva de hospedaje que se adapta a tu negocio.</p>
				</div>
			</div>
			<div class="col-md-4">
				<img src="/assets/images/bienvenida.svg" class="img-fluid" alt="bienvenida">
			</div>
		</div>
		<br>
	</div>
</section>
<section class="caracteristicas">
	<div class="containter mt-2">
		<div class="row">
			<div class="col-md-4">
				<p class="img">
					<i class="fa fa-bed" aria-hidden="true"></i>
				</p>
				<h2>Registra tus habitaciones</h2>
				<p>Registra tus habitaciones y controla la disponibilidad, llegadas, estancias y salidas de tus pasajeros sin perderte ningún detalle</p>
				<!-- <a href="#" class="btn btn-secundary btn-lg">Mas información</a> -->
			</div>
			<div class="col-md-4">
				<p class="img">
					<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
				</p>
				<h2>Correo electrónico</h2>
				<p>Envia a través de Chaskiy proformas o confirmaciones de hospedaje a tus pasajeros para que no pierdan de vista sus reservas</p>
			</div>
			<div class="col-md-4">
				<p class="img">
					<i class="fa fa-money" aria-hidden="true"></i>
				</p>
				<h2>Registra pagos</h2>
				<p>Registra los pagos de cada reserva para el control de los ingresos monetarios que genera tu hospedaje</p>
			</div>
		</div>
	</div>
</section>
<section class="cuadro-img">
	<div class="container mt-2">
		<br>
		<div class="row">
			<div class="col-md-4">
				<p class="img">
					<i class="fa fa-address-book" aria-hidden="true"></i>
					<i class="fa fa-address-book-o" aria-hidden="true"></i>
				</p>
			</div>
			<div class="col-md-8">
				<div class="texto">
					<h1>Regístrate!</h1>
					<p>Y obtén un mes de prueba totalmente gratis!</p>
				</div>
			</div>
		</div>
		<br>
	</div>
</section>
