.cuadro-img {
    background:url("../../../assets/images/backgroud_inicio.jpg");
    background-size: cover; 
	  height: 100vh;
}

.jumbotron{
    background-color: rgba(237, 249, 255, 0.86);
}

.clientes {
  background: #ffffff;
}
.card {
  border-left: 2px solid #ffc107;
}