
.cuadro-img .container{
  margin-top: 10rem;
}
.features{
  margin-left: 6rem;
  margin-right: 6rem;
}
.clientes{  
  background: #ffffff;
}
.row.clientes{  
  margin-left: 4rem;
  margin-right: 4rem;
}

/*// B L O Q U E  B I E N V E N I D O S*/
.cuadro-img{
    background: url("/assets/images/back_inicio.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	  height: 90vh;
    /*overflow: hidden;*/
}
.cuadro-img .texto{
  margin-top: auto!important;
  margin-bottom: auto!important;
}

.cuadro-img p{
  font-size: 1.7rem;
  color: #ffffff;
}

.cuadro-img h1{
  color: #ffffff;
}

.cuadro-img .img{
  font-size: 7rem;
  color: #658dc1;
  text-align: center;
}

.caracteristicas .img{
  font-size: 6rem;
  color: #658dc1;
  text-align: center;
}

.caracteristicas h2{
  color: #38557b;
}
