.table td, .table th {
    padding: .4rem;
}

thead{

	font-size: .8rem;
}

tbody{

	font-size: .75rem;
}

.container-fluid {
    padding-left: 0px;
		padding-top: 10px;
}

.add {
    position: fixed;
    top: 70px;
    right: 4.4rem;
    z-index: 999;
    margin-left: 0px;
}

.bg{

	background-color:#cccccc !important;
}

._selected{

	height: 100%;
	background: rgba(92, 184, 92, 0.57);
	transition: opacity 0.3s;
	cursor: pointer;
}

._selected:hover {

  opacity: 0.5;
}

._reserved{

	height: 100%;
	background-color: #5bc0de;
	transition: opacity 0.3s;
	cursor: pointer;
}

._reserved:hover {

	opacity: 0.5;
}

._occupied{

	height: 100%;
	background-color: #f77581;;;
	transition: opacity 0.3s;
	cursor: pointer;
}

._occupied:hover {

	opacity: 0.5;
}

._proform{

	height: 100%;
	background-color: #f8f9fa;;
	transition: opacity 0.3s;
	cursor: pointer;
}

._proform:hover {

	opacity: 0.5;
}

._checked-out {

	height: 100%;
	background-color: #ffc107;
	transition: opacity 0.3s;
	cursor: pointer;
}

._checked-out:hover {

	opacity: 0.5;
}

._blocked{

	background: #ddd;
	height: 100%;
}

._nah{

	height: 100%;
	opacity: 0;
	background: #f1f1f1;
	transition: opacity 0.3s;
	cursor: pointer;
}

._nah:hover {

	opacity: 1;
	box-shadow: none;
}

._nah0{

	height: 100%;
  color: black;
	background: white;
	transition: background 0.3s;
	cursor: pointer;
}

._nah0:hover {

	background: rgba(221, 221, 221, 0.32);
	box-shadow: none;
}

.dropdown-menu {

    font-size: .9rem;
}