
.container-fluid {
    padding-left: 0px;
		padding-top: 10px;
}

.add {
    position: fixed;
    top: 70px;
    right: 4.4rem;
    z-index: 999;
    margin-left: 0px;
}

.bg{

	background-color:#cccccc !important;
}

.dropdown-menu {

    font-size: .9rem;
}