<div class="row">
  <div *ngFor="let cama of _camas" class="col-sm-6 col-md-3 mt-1 pointed">
    <app-cama-card
      *ngIf="showAddCama && showDeleteCama"
      [_cama]="cama"
      (_agregar)="addCama($event)"
      (_quitar)="deleteCama($event)"
    ></app-cama-card>
    <app-cama-card *ngIf="showAddCama && !showDeleteCama" [_cama]="cama" (_agregar)="addCama($event)"></app-cama-card
    ><app-cama-card
      *ngIf="!showAddCama && showDeleteCama"
      [_cama]="cama"
      (_quitar)="deleteCama($event)"
    ></app-cama-card>
  </div>
  <div *ngIf="showAgregar" class="col-sm-6 col-md-3 mt-1 h-100 pointed" (click)="agregar()">
    <app-card>
      <div class="text-center m-auto">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <p>Agregar</p>
      </div>
    </app-card>
  </div>
</div>
