<div class="container">
	<div class="sticky-top">
		<div class="container">
			<h1 class="display-3">Próximos pasajeros</h1>
			<hr class="my-2">
		</div>		
	</div>	
	<div class="card mb-2" *ngFor="let card of cards">
		<h3 class="card-header">Featured</h3>
		<div class="card-block">
		<h4 class="card-title">Card title</h4>
		<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		<p class="card-text">
		  Some quick example text to build on the card title
		  and make up the bulk of the card's content.
		</p>
		<a href="#" class="card-link">Card link</a>
		<a href="#" class="card-link">Another link</a>
		</div>
	</div>	
</div>