.table td, .table th {
    padding: .4rem;
}

thead{

	font-size: .8rem;
}

tbody{

	font-size: .75rem;
}

tbody td.dia {
	height: 30px;
	width: 30px;
	border: unset;
	padding: 0 0 0 0;
	vertical-align: middle;
}

div.dia {
	height: 95%;
	width: 95%;
	border-radius: .5rem;	
	display: table;
}

div.dia a {
	display: table-cell;
	vertical-align: middle;
}

/* E S T A D O S  R E S E R V A */
._selected{

	height: 100%;
	background: rgba(92, 184, 92, 0.57);
	transition: opacity 0.3s;
	cursor: pointer;
}

._selected:hover {

  opacity: 0.5;
}

._reserved{
	
	background-color: #5bc0de;
	transition: opacity 0.3s;
	cursor: pointer;
}

._reserved:hover {

	opacity: 0.5;
}

._occupied{
	
	background-color: #f77581;;;
	transition: opacity 0.3s;
	cursor: pointer;
}

._occupied:hover {

	opacity: 0.5;
}

._proform{
	
	background-color: #f8f9fa;;
	transition: opacity 0.3s;
	cursor: pointer;
}

._proform:hover {

	opacity: 0.5;
}

._checked-out {
	
	background-color: #ffc107;
	transition: opacity 0.3s;
	cursor: pointer;
}

._checked-out:hover {

	opacity: 0.5;
}

._blocked{

	background: #ddd;
}

._nah{
	
	opacity: 1;
	background: #f1f1f1;
	transition: opacity 0.3s;
	cursor: pointer;
}

._nah:hover {

	opacity: .2;
	box-shadow: none;
}

._nah0{
	
  color: black;
	background: white;
	transition: background 0.3s;
	cursor: pointer;
}

._nah0:hover {

	background: rgba(221, 221, 221, 0.32);
	box-shadow: none;
}