<div class="row">
  <div class="col-12 my-1">
    <div *ngIf="!accion" class="pull-right">
      <button type="button" class="btn btn-primary add" (click)="_reservar()" [disabled]="reservasCliente.length == 0">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nueva
      </button>
      <button
        [disabled]="reservasCliente.length == 0"
        type="button"
        class="btn btn-link text-danger ml-1"
        (click)="_cancelar()"
      >
        <i class="fa fa-times" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
    <div *ngIf="accion == 'I'" class="pull-right">
      <button type="button" class="btn btn-primary add" (click)="_reservar()" [disabled]="reservasCliente.length == 0">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nueva
      </button>
      <button
        [disabled]="reservasCliente.length == 0"
        type="button"
        class="btn btn-link text-danger ml-1"
        (click)="_cancelar()"
      >
        <i class="fa fa-times" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
    <div *ngIf="accion == 'U'" class="pull-right">
      <button type="button" class="btn btn-primary add" (click)="_modificar()">
        <i class="fa fa-check" aria-hidden="true"></i>
        Aceptar
      </button>
      <button type="button" class="btn btn-link text-danger ml-1" (click)="_cancelarModi()">
        <i class="fa fa-times" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th rowspan="3"></th>
          <th rowspan="3" class="align-buttom">#</th>
          <th rowspan="3" class="align-buttom">Habitaciones</th>
          <th [attr.colspan]="current.days.length">
            <h3 class="center">
              {{ current.mes }}
              <small>{{ current.anio }}</small>
            </h3>
          </th>
          <th rowspan="3"></th>
        </tr>
        <tr>
          <th *ngFor="let dia of current.days">
            {{ getWeekDay(dia.day + 1) }}
          </th>
        </tr>
        <tr>
          <th *ngFor="let dia of current.days">{{ dia.day + 1 }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loadingHabitaciones">
          <td [attr.colspan]="current.days.length + 4">
            <app-spinner></app-spinner>
          </td>
        </tr>
        <tr *ngIf="!loadingHabitaciones && habitaciones.length == 0">
          <td [attr.colspan]="current.days.length + 4" style="text-align:center;">
            <p>
              No tienes habitaciones registradas aun, registra tus habitaciones
              <a [routerLink]="['/habitaciones']">aquí</a>
            </p>
          </td>
        </tr>
        <tr *ngFor="let habitacion of habitaciones; let i = index">
          <td *ngIf="i == 0" [attr.rowspan]="habitaciones.length" class="_nah0 align-middle" (click)="_anterior()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </td>
          <td>{{ habitacion.noHabitacion }}</td>
          <td>{{ habitacion.habitacion }}</td>
          <td
            *ngFor="let dia of current.days; let j = index"
            class="dia"
            (click)="clickCuadrito(habitacion, dia.day + 1)"
          >
            <div
              *ngIf="cuadritos && cuadritos.length > 0"
              class="dia text-center"
              [ngClass]="cuadritos[i][j].className"
            >
              <a
                *ngIf="cuadritos[i][j].isIni"
                href="javascript:;"
                data-toggle="tooltip"
                [attr.title]="cuadritos[i][j].pasajero"
              >
                <!-- <i class="fa fa-circle" aria-hidden="true"></i> -->
                <strong> {{ cuadritos[i][j].nombreUsuario && cuadritos[i][j].nombreUsuario[0] }}</strong>
              </a>
              <a
                *ngIf="cuadritos[i][j].isFin"
                href="javascript:;"
                data-toggle="tooltip"
                [attr.title]="cuadritos[i][j].pasajero"
              >
                <strong> {{ cuadritos[i][j].nombreUsuario && cuadritos[i][j].nombreUsuario[0] }}</strong>
              </a>
            </div>
          </td>
          <td *ngIf="i == 0" [attr.rowspan]="habitaciones.length" class="_nah0 align-middle" (click)="_siguiente()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
