<br />
<br />
<div class="container">
  <h2>
    Galería
    <small>({{ images.length }})</small>
  </h2>
  <hr class="my-2" />
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-10 col-sm-12">
      <div class="row mb-1">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <button
            type="button"
            class="btn btn-primary add pull-right"
            (click)="showModal()"
            data-toggle="modal"
            data-target="#adicionalModal"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            Imagen
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="mansory">
            <div class="item" *ngFor="let image of images">
              <img [src]="'/files/gallery/' + image.archivo" />
              <div class="toolbar">
                <div>
                  <!-- <Button class="btn btn-outline-primary rounded-circle mx-1">
                    <i class="fas fa-pencil-alt"></i>
                  </Button> -->
                  <Button
                    class="btn btn-outline-danger rounded-circle mx-1"
                    (click)="deleteAttemp(image.idFoto)"
                    data-toggle="modal"
                    data-target="#confirmaModal"
                  >
                    <i class="fas fa-trash"></i>
                  </Button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-12" id="sidebar">
      <div class="card mt-2">
        <div class="card-body">
          <h4 class="card-title">Ayuda</h4>
          <p class="card-text">
            Sube todos los recursos gráficos para asignarlos a las distintas entidades de la aplicación, como
            habitaciones, adiconales, etc.
          </p>
          <!-- <ul>
						<li *ngFor="let op of tipos">{{op.tipotarifa}}</li>
					</ul> -->
        </div>
      </div>

      <div class="mt-2">
        <app-card-notificaciones></app-card-notificaciones>
      </div>
    </div>
  </div>
</div>

<app-modal-confirmacion
  [mensaje]="mensajeConfirmacion"
  (confirmar)="delete()"
  (cancelar)="onCancelar()"
></app-modal-confirmacion>

<app-subir-modal [_model]="imageModel" [_loading]="loading" (_guardar)="guardarImagen($event)"></app-subir-modal>
